* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    padding: 25px 30px;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    /* border: 1px solid white; */
}

.searchbar {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: #000;
    border-top: 2px solid #FFF;
}

.main {
    padding: 15px 30px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #cac9c9;
    background-color: #cac9c9;
    display: flex;
    flex-direction: column;
    width: 213px;
    height: 360px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.product img {
    width: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.cart {
    padding: 15px 30px;
    margin: 10px;
    height: 100vh;
    align-self: start;
    background-color: #cac9c9;
    border-radius: 10px;
}

.cart-h2 {
    margin-bottom: 10px;
}

.add {
    margin-left: 20px;
    color: #08a508;
    cursor: pointer;
}

.remove {
    color: #b60303;
    cursor: pointer;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

div span {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    margin-top: 7px;
    width: 100%;
    padding: 5px;
    background-color: #1eda1e;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
}

.button:hover {
    background-color: #5efa5e;
}

a {
    text-decoration: none;
    color: #FFF;
}

.block {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column-1 {
    flex: 0.9;
}

.column-2 {
    flex: 2;
}

.text-rigth {
    text-align: right;
}

.margin-left {
    margin-left: 100px;
}