* {
    padding: 0;
    margin: 0;
}

.header_1 {
    background-color: #000000;
    /* background-color: #302f2f; */
    color: #ffffff;
    padding: 20px;
    display: flex;
    border-bottom: solid 10px rgb(8, 230, 82);
    border-bottom: solid 10px rgb(48, 48, 48);
}

.header_1 h2 {
    font-size: 25px;
}

.cart_image {
    width: 40px;
    border-radius: 10px;
    margin-left: 5px;
}